.devs__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    border-radius: 1rem;
    gap: 1.5rem;
    padding: 2rem;
}

/* General Styling for Content */
.devs__content {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--container-color);
    padding: 0; 
    border-radius: 1rem;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden; /* Ensures child elements stay within borders */
}

.devs__icon {
    display: block;
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}

.devs__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

.devs__button {
    color: var(--title-color);
    font-size: var(--small-font-size);
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    cursor: pointer;
}

.devs__button-icon {
    font-size: 1rem;
    transition: transform 0.3s; /* Improved hover transition */
}

.devs__button:hover .devs__button-icon {
    transform: translateX(0.25rem);
}

/* Disable hover effects when modal is active */
.no-hover .devs__content:hover {
    transform: none; /* Prevent scaling */
    box-shadow: none; /* Prevent shadow */
}

.devs__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--z-modal);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s; /* Grouping transitions */
}

.devs__modal-content {
    width: 90%;
    max-width: 500px;
    position: relative;
    background-color: var(--container-color);
    padding: 4.5rem 2.5rem 2.5rem;
    border-radius: 1.5rem;
}

.devs__modal-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

.devs__modal-title,
.devs__modal-description {
    text-align: center;
}

.devs__modal-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.devs__modal-description {
    font-size: var(--small-font-size);
    padding: 0 3.5rem;
    margin-bottom: var(--mb-2);
}

.devs__modal-devs {
    row-gap: 0.75rem;
}

.devs__modal-dev {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.devs__modal-icon {
    color: var(--title-color);
    font-size: 1.1rem;
}

.devs__modal-info {
    font-size: var(--small-font-size);
}

/* Active Modal */
.active-modal {
    opacity: 1;
    visibility: visible;
}

/* =============== BREAKPOINTS =============== */
@media screen and (min-width: 1200px) {
    .devs__container {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }

    .devs__icon {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 992px) {
    .devs__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .devs__modal-content {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .devs__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .devs__icon {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 576px) {
    .devs__container {
        grid-template-columns: 1fr;
    }

    .devs__modal-content {
        padding: 4rem 2rem 3rem;
    }

    .devs__modal-description {
        padding: 0;
    }
}

@media screen and (max-width: 350px) {
   
    .devs__icon {
        font-size: 1.5rem;
    }
}
